[submodule "SPEC/nexus-trace"]
	path = SPEC/nexus-trace
	url = https://github.com/riscv-non-isa/riscv-nexus-trace.git
[submodule "SPEC/riscv-aia"]
	path = SPEC/riscv-aia
	url = https://github.com/riscv/riscv-aia.git
[submodule "SPEC/riscv-ras-eri"]
	path = SPEC/riscv-ras-eri
	url = https://github.com/riscv-non-isa/riscv-ras-eri.git
[submodule "SPEC/riscv-isa-manual"]
	path = SPEC/riscv-isa-manual
	url = https://github.com/riscv/riscv-isa-manual.git
[submodule "SPEC/riscv-aclint"]
	path = SPEC/riscv-aclint
	url = https://github.com/riscvarchive/riscv-aclint.git
[submodule "SPEC/riscv-debug"]
	path = SPEC/riscv-debug
	url = https://github.com/riscv/riscv-debug-spec.git
[submodule "SPEC/clic_0.1"]
	path = SPEC/clic_0.1
	url = https://github.com/riscv/riscv-fast-interrupt.git
[submodule "SPEC/riscv-iopmp0p82"]
	path = SPEC/riscv-iopmp0p82
	url = https://github.com/riscv-non-isa/riscv-iopmp.git
[submodule "SPEC/riscv-iopmp0p7"]
	path = SPEC/riscv-iopmp0p7
	url = https://github.com/riscv-non-isa/riscv-iopmp.git
[submodule "SPEC/riscv-cbqri"]
	path = SPEC/riscv-cbqri
	url = https://github.com/riscv-non-isa/riscv-cbqri.git
[submodule "SPEC/riscv-iommu"]
	path = SPEC/riscv-iommu
	url = https://github.com/riscv-non-isa/riscv-iommu.git
[submodule "SPEC/riscv-sbi"]
	path = SPEC/riscv-sbi
	url = https://github.com/riscv-non-isa/riscv-sbi-doc.git
[submodule "SPEC/riscv-ssqosid"]
	path = SPEC/riscv-ssqosid
	url = https://github.com/riscv/riscv-ssqosid.git
[submodule "SPEC/riscv-smmtt"]
	path = SPEC/riscv-smmtt
	url = https://github.com/riscv/riscv-smmtt.git
